.note {
    height: 150px;
    width: 150px;
    background-color: rgb(39, 39, 40);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    margin: 10px; /* Abstand zwischen den Notizen */
}

.note > h3, .note > p {
    display: flex;
    justify-content: center;
    width: 100%;
}

.note > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#content, #archiv_content, #trash_content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Abstand zwischen den Notizen */
}
